In [84]:
import pandas as pd 
import numpy as np

In [85]:
data = pd.read_csv('Task1.csv')
data.drop('id', axis=1, inplace=True)
print(data)

    X   Y  Class
0  56  82      1
1  96  36      0
2  78  73      1
3  69  19      1
4  12  44      1
5  77  32      0
6  55  38      1
7  86  95      1
8  46  99      1
9  15  83      0

In [86]:
X = data['X'].to_numpy()
Y = data['Y'].to_numpy()

In [87]:
x0, y0 = 17, 94

In [88]:
edistance = np.sqrt((X - x0)**2 + (Y - y0)**2 )
mdistance = np.abs(X - x0) + np.abs(Y - y0)

In [89]:
edistance

array([40.80441153, 98.00510191, 64.51356447, 91.26335519, 50.24937811,
       86.27861844, 67.67569726, 69.007246  , 29.42787794, 11.18033989])

In [90]:
mdistance

array([ 51, 137,  82, 127,  55, 122,  94,  70,  34,  13])

In [91]:
data['edistance'] = edistance
data['mdistance'] = mdistance

In [92]:
data

    X   Y  Class  edistance  mdistance
0  56  82      1  40.804412         51
1  96  36      0  98.005102        137
2  78  73      1  64.513564         82
3  69  19      1  91.263355        127
4  12  44      1  50.249378         55
5  77  32      0  86.278618        122
6  55  38      1  67.675697         94
7  86  95      1  69.007246         70
8  46  99      1  29.427878         34
9  15  83      0  11.180340         13

In [93]:
data['edistance'].nsmallest(3).index

Index([9, 8, 0], dtype='int64')

In [95]:
data['mdistance'].nsmallest(3).index

Index([9, 8, 0], dtype='int64')