In [209]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [210]:
df = pd.read_csv('pulsar_stars_new.csv')

In [211]:
df.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [212]:
df.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
count,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000
mean,111.079968,46.549532,0.477857,1.770279,12.614400,26.326515,8.303556,104.857709,0.091574
std,25.652935,6.843189,1.064040,6.167913,29.472897,19.470572,4.506092,106.514540,0.288432
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.000000
25%,100.929688,42.376018,0.027098,-0.188572,1.923077,14.437332,5.781506,34.960504,0.000000
50%,115.078125,46.947479,0.223240,0.198710,2.801839,18.461316,8.433515,83.064556,0.000000
75%,127.085938,51.023202,0.473325,0.927783,5.464256,28.428104,10.702959,139.309330,0.000000
max,192.617188,98.778911,8.069522,68.101622,223.392141,110.642211,34.539844,1191.000837,1.000000

In [213]:
df = df[ (df['MIP'] >= 10) & (df['MIP'] <= 100) ]

In [214]:
df['MIP'].min()

10.0078125

In [215]:
df = df.sort_values(by='MIP', ascending=True)

In [216]:
X = df.drop(['TG'], axis=1)
y = df['TG']

In [217]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33, stratify=y)

In [218]:
X_train['STDC'].max()

108.0780191

In [219]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = pd.DataFrame( scaler.transform(X_train), columns=X_train.columns )
X_test = pd.DataFrame( scaler.transform(X_test), columns=X_test.columns )

In [220]:
X_train = pd.DataFrame(X_train)

In [221]:
X_train.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
0,0.349249,0.190101,0.472278,0.267535,0.097141,0.508388,0.153367,0.007962
1,0.747895,0.234450,0.078855,0.048146,0.007257,0.049778,0.378870,0.148997
2,0.977429,0.268384,0.052770,0.027300,0.012142,0.093740,0.300306,0.072574
3,0.941922,0.185736,0.040058,0.045769,0.005785,0.069293,0.402277,0.139095
4,0.962757,0.309320,0.058832,0.026915,0.031646,0.260855,0.217808,0.025574

In [222]:
X_train['STDIP'].mean()

0.25776766611469976

In [224]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [225]:
from sklearn.metrics import confusion_matrix, f1_score
confusion_matrix(y_test, y_pred)

array([[538,  19],
       [ 36, 251]])

In [226]:
f1_score(y_test, y_pred)

0.9012567324955115

In [230]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [231]:
print(confusion_matrix(y_test, y_pred))
print(f1_score(y_test, y_pred))

[[534  23]
 [ 20 267]]
0.9254766031195841